$background-main: #282c34;
$background-secondary: #686b6f;
$text-color: #abb2bf;
$text-color-selected: #98c379;
$text-color-deselected: #61afef;
$header: #56b6c2;
$header-two: #e06c75;
$accent-color: #c678dd;

$paleNightTheme: (
    muted-grey: #919494,
    darkest-blue: #212532,
    midnight-blue: #292d3e,
    tinted-white: #eeffff,
    light-blue: #3b415c,
    deep-orange: #f78c5b,
    mustard-yellow: #ffcb6b,
    dark-green: #7fb347,
    pale-green: #c3e872,
    giro-pink: #c792ea,
    susanna-blue: #55a8ec,
    lightest-blue: #bed6ff,
    grey-blue: #595e72
);

@function colour($colour-name) {
    @return map-get($paleNightTheme, $colour-name);
}

$backgroundPrimary: colour(midnight-blue);
$backgroundSecondary: colour(darkest-blue);
$backgroundQuote: colour(light-blue);
$textColourPrimary: colour(tinted-white);
$linkColourDefault: colour(mustard-yellow);
$linkColourHover: colour(deep-orange);
$textColourAccent: colour(pale-green);
// $backgroundTertiary: colour(darkest-blue);
$textSectionTitle: colour(deep-orange);
$textMisc1: colour(giro-pink);