@import "fonts";
@import "colours";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    height: 100%;
}

body {
    background: $backgroundPrimary;
    font-family: $fontStackRegular;
    min-height: 100vh;
    color: $textColourPrimary;
    line-height: 1.618;
    font-size: 1.20rem;
    margin: auto;
    display: flex;
    flex-direction: column;

    .bodyWrapper {
        max-width: 900px;
        padding: 1.618rem;
        margin: auto;
    }
}

footer {
    padding: 1.618rem;
    margin-top: auto;
    background-color: $backgroundSecondary;

    a {
        border: solid 1px $backgroundSecondary;
    }

    a[href]:hover {
        border: dashed 1px $linkColourDefault;
        background-color: $backgroundSecondary;
    }

    .footerWrapper {
        max-width: calc(900px + 5rem);
        margin: auto;
        list-style: none;
        display: flex;
        font-size: 80%;
        padding: 0;
        
        code {
            word-break: normal;
            white-space: normal;
        }

        .footerItem {
            padding-left: 2rem;
        }

        .leftItem {
            flex: 1;
            padding: 0;
        }

    }
}

a {
    text-decoration: none;
    color: $linkColourDefault;
    border: solid 1px $backgroundPrimary
}

a[href]:hover {
    color: $linkColourHover;
    background-color: $backgroundSecondary;
    transition-property: all;
    transition-duration: 250ms;
    border: dashed 1px $linkColourDefault;
}

ul {
    padding-left: 2rem;
    margin: 20px 0;

    li {
        padding-left: 0.5rem;
    }
}


p {
    margin: 20px 0;
}


code {
    font-family: $fontStackMono;
    word-break: break-word;
    white-space: pre-wrap;
    
    span > span {
    padding: 5px;
    }
}

code.verbatim {
    background-color: $backgroundSecondary;
    padding: 0rem 0.25rem;
}

aside.postsOptions > code {
    font-family: $fontStackMono;
    word-break: normal;
    white-space: normal;
    
}
.accent {
    color: $textColourAccent;
}

.first {
    color: $linkColourDefault;
}

.second {
    color: $linkColourHover;
}

h1,
h2,
h3,
h4 {
    font-family: $fontStackBold;
    // text-align: center;
    color: $textColourPrimary;
}

h3 {
    margin: 1.618rem;
}

h4 {
    margin: 0 calc(1.618rem * 2);
}

table {
    display: table;
    table-layout: fixed;
    border: 1px solid;
    width: 100%;
    margin: 1.618rem 0;
    border-spacing: 0;
    overflow-x: auto;
    text-align: left;

    thead {
        color: $textMisc1;
        font-family: $fontStackMono;
    }

    th,
    td {
        padding: 0 1rem;
    }

    th {
        width: 100%;
        top: 0;
        background: $backgroundSecondary;
        vertical-align: bottom;
    }

    th:last-child,
    td:last-child {
        border-right-width: 0;
    }

    tr:last-child td {
        border-bottom-width: 0;
    }
}


.postCard {
    h3.postTitle {
        margin: 0;
    }

    p {
        margin: 0;
        padding: 0;
    }

    padding: 2rem 0;
}

.menu {
    background-color: $backgroundSecondary;
    padding: 1.618rem;
}

.menuContainer {
    margin: auto;
    max-width: calc(900px + 5rem);
    padding-left: 0;
    display: flex;
    list-style: none;

    .menuItem {
        padding-left: 2rem;

        .navItem {
            font-family: $fontStackMono;
        }
    }

    .homeItem {
        flex: 1;
        padding: 0;
    }

    a {
        border: solid 1px $backgroundSecondary;
    }

    a[href]:hover {
        border: dashed 1px $linkColourDefault;
        background-color: $backgroundSecondary;
    }
    
}

#resource-list {
    margin: 1.618rem 0;
}

.footnotes {
    p {
        padding: 0;
        margin: 0;
    }

    .footnotes-separatator {
        width: 31.8%;
    }

    .footnote-definition {
        display: inline-grid;
        grid-template-columns: 2rem auto;
        grid-template-rows: 1fr;
        align-items: baseline;

        sup {
            grid-column: 1;
            grid-row: 1;
        }

        .footnote-body {
            grid-column: 2;
            grid-row: 1;
        }
    }
}

.landingHeader {
    // display: block;
    height: 50vh;
    text-align: center;
    display: flex;
    place-content: center;

    .landingTitle {
        color: $textMisc1;
        font-size: 8rem;
        font-family: $fontStackBold;
        // display: inline;
        place-self: center;
    }
}


.singleHeader,
taxonomyHeader {
    margin: 3rem 0;

    .singleHeaderTitle,
    taxonomyHeaderTitle {
        margin: 2rem 0;
        text-align: center;
    }
}

.taxonomyHeader {
    margin: 3rem 0;

    .taxonomyHeaderTitle {
        margin: 2rem 0;
        text-align: center;
    }
}

.listHeader {
    margin: 3rem 0;

    .listHeaderTitle {
        margin: 2rem 0;
        text-align: center;
    }
}

.aboutMain {
    h3 {
        color: $textMisc1;
    }
}

.postsOptions {
    text-align: center;
}

.singleHeader {
    .singleHeaderMetadata {
        .postMetadata {
            text-align: center;
        }
    }
}

.researchCard {
    margin: 3rem 0;

    .researchTitle {
        text-align: left;
        margin: 0;
        padding: 0;
        color: $textSectionTitle;
    }

    p {
        padding: 0;
        margin: 0;
    }
}

.container {
    img {
        width: 80%;
        margin: auto;
    }
}


blockquote {
    background-color: $backgroundQuote;
    border-left: solid 8px colour(giro-pink);
    border-radius: 4px;

    p {
        padding: 1rem;
    }
}


.coffeeRecipe {
    table-layout: auto;
    width: min-content;

    border-left: solid 8px $backgroundQuote;
    border-right: solid 8px $backgroundSecondary;
    border-top: none;
    border-bottom: none;
    border-radius: 4px;

    font-family: $fontStackMono;
    font-size: medium;

    tbody {
        color: colour(deep-orange);
        background-color: $backgroundSecondary;

        tr {
            td {
                line-height: .618rem;
                padding: 1rem;
            }
        }
    }
}
