<!DOCTYPE html>
<html lang="en">
  {{ partial "head.html" . }}
  <body>
    {{ partial "nav.html" . }}
    <div class="bodyWrapper">
      <main>{{ block "main" . }} {{ end }}</main>
    </div>
    {{ partial "footer.html" . }}
  </body>
</html>
