{{ define "main" }}
{{ partial "listHeader.html . " }}
<section class="container">
  {{ range .Sections }}
  <h2><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
  <ul>
    {{ range .Pages }}
    <li>
      <p>
        <a href="{{ .RelPermalink }}">{{ .Title }}</a>
        <small><strong>{{ .Date | dateFormat "2 Jan 2006" }}&ensp;</strong>
	  c{{ .FuzzyWordCount }} words, {{ .ReadingTime }} minute read
	</small>
      </p>
    </li>
    {{ end }}
  </ul>
  {{ end }}
</section>
{{ end }}
{{ end }}
