{{ define "main" }}
{{ partial "listHeader.html" . }}
  <aside class="postsOptions">
    <code><small>
    [ browse by
    <a href="/tags">tag</a>
    or
    <a href="/categories">category</a> ]
    </small></code>
  </aside>
<section class="container">
    {{ range .RegularPages }}
      {{ partial "postcard.html" . }}
    {{ end }}
</section>
{{ end }}
