{{ $gitCommitLong := getenv "HUGO_LAST_COMMIT_SHA_LONG" }}
{{ $gitCommitShort :=getenv "HUGO_LAST_COMMIT_SHA_SHORT" }}
{{ $gitCommitDate := getenv "HUGO_LAST_COMMIT_DATE" }}
<footer>
  <ul class="footerWrapper">
    <li class="footerItem leftItem">
      Site last updated {{ $gitCommitDate | dateFormat "2 Jan 2006"}}&emsp;
      <code
        ><a
          href="https://codeberg.org/galambborong/peterkeenan/commit/{{ $gitCommitLong}}"
          onclick="fathom.trackgoal('swnyfgmt', 0);"
          target="_blank"
          rel="noopener noreferrer"
          >{{- $gitCommitShort -}}</a
        >
      </code>
    </li>
    <li class="footerItem" xmlns:cc="http://creativecommons.org/ns#">
      &copy; Peter Keenan 
      <a
        href="http://creativecommons.org/licenses/by-sa/4.0/?ref=chooser-v1"
        target="_blank"
        rel="license noopener noreferrer"
        style="display: inline-block"
        >CC BY-SA 4.0</a
      >
    </li>
  </ul>
</footer>
