{{- $style := resources.Get "scss/style.scss" | toCSS | minify -}}
{{- $description := ""}}
{{- if .IsHome -}}
  {{- $description = $.Site.Params.description -}}
{{- else if .Description -}}
  {{- $description = .Description -}}
{{- else if .Summary -}}
  {{- $description = .Summary -}}
{{- else -}}
  {{- $description = $.Site.Params.description -}}
{{- end -}}
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="site_name" content="{{ $.Site.Params.author.name }}" />
  <meta name="description" content="{{ $description }}" />
  <meta name="og:site_name" content="{{ $.Site.Params.author.name }}" />
  <meta name="og:description" content="{{ $description }}" />
  <link rel="canonical" href="{{ .Permalink }}"/>
  <link rel="stylesheet" href="{{ $style.RelPermalink }}" />
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
  <link rel="manifest" href="/site.webmanifest" />
  <link rel="me" title="Mastodon" href="{{ .Site.Params.author.mastodonLink }}" />
  <link rel="me" title="Codeberg" href="{{ .Site.Params.author.codebergLink }}" />
  <title>
    {{- block "title" . -}}
      {{- if .IsHome -}}
        {{- .Site.Title  -}}&ensp;&#8226;&ensp;Developer, musician, coffee lover
      {{- else -}} 
        {{- .Title -}}&ensp;&#8226;&ensp;{{- .Site.Title -}}
      {{- end -}}
    {{- end -}}
  </title>
  <script
    src="https://cdn.usefathom.com/script.js"
    data-site="TFRGIGRT"
    defer
  ></script>
</head>
