<nav class="menu">
  <ul class="menuContainer">
    <li class="menuItem homeItem">
      <a href="/" class="navItem">home</a>
    </li>
    <li class="menuItem">
      <a href="/about/" class="navItem">about</a>
    </li>
    <li class="menuItem">
      <a href="/posts/" class="navItem">posts</a>
    </li>
  </ul>
</nav>
