<article class="postCard">
  <h3 class="postTitle"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
  {{ partial "postMetadata.html" . }}
  <small
    >tags:&ensp;{{ range .GetTerms "tags" }}
    <a href="{{ .RelPermalink }}">#{{ .LinkTitle }}</a>
    {{ end }}</small
  >
  {{ if .Params.Categories }}
  <br />
  <small
    >categories:&ensp; {{ range .GetTerms "categories" }}
    <a href="{{ .RelPermalink }}">#{{ .LinkTitle }}</a>
    {{ end }}
  </small>
  {{ end }}
</article>
