<article class="researchCard">
  <h4 class="researchTitle">{{ .title }}</h4>
  <p><small>{{ .details.kind | humanize }} for {{ .details.institution }}&ensp;&#8226;&ensp;{{ .details.year }}{{ if .url }}&ensp;&#8226;&ensp;<a href="{{ .url }}" target="_blank">Read</a>{{ end }}</small></p>
  {{ if .citations }}
    <h5>Citations:</h5>
    <p><small>{{ range .citations }}<a href="{{ .url }}" target="_blank">{{ .title }}</a>{{ end }}</small></p>
  {{ end }}
  {{ if .conferences }}
    <h5>Presentations:</h5>
	{{ range .conferences }}
	<p><small>{{ . }}</small></p>
	{{ end }}
  {{ end }}
</article>
