<header class="singleHeader">
    <h1 class="singleHeaderTitle">{{ .Title }}</h1>
{{ if eq .Section "posts" }}
    <div class="singleHeaderMetadata">
	{{ if eq .Section "posts" }}
	    {{ partial "postMetadata.html" . }}
	{{ end }}
    </div>
{{ end }}
</header>
