{{ define "main" }} {{ partial "listHeader.html" . }}
<ul>
  {{ range .Data.Terms }}
  <li>
    <a href="{{ .Page.RelPermalink }}">{{ .Page.Title }}</a>&ensp;({{ .Count }})
  </li>
  {{ end }}
</ul>
{{ end }}
