  <table class="coffeeRecipe">
    <tbody>
      <tr class="dose">
        <td>dose:</td>
        <td>{{- index .Params 0 -}}g</td>
      </tr>
      <tr class="yield">
        <td>yield:</td>
        <td>{{- index .Params 1 -}}g</td>
      </tr>
      <tr class="time">
        <td>time:</td>
        <td>{{- index .Params 2 -}}s</td>
      </tr>
    </tbody>
  </table>
